@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #F9F7F7;
  background: #3F72AF;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.choose {
  text-align: center;
}

.choose h2 {
  font-size: 80px;
  margin-bottom: 80px;
}

.choose button {
  min-width: 250px;
  padding: 20px 0;
  border-radius: 25px;
  border: 1px solid #F9F7F7;
  color: #F9F7F7;
  background: transparent;
  cursor: pointer;
  margin: 0 40px;
  transition: all 0.15s ease-out;
}
.choose button:hover {
  background: #F9F7F7;
  color: #112D4E;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}

footer {
  padding: 25px 0;
  text-align: center;
  background: #112D4E;
}

footer p {
  color: #fff;
  cursor: pointer;
}

footer p:hover {
  text-decoration: underline;
}